@import "./colors.scss";

.fabContainer {
    position: fixed !important;
    right: 1.5vw;
    bottom: 8vw;

    .fabRandom {
        background-color: $primaryRed;
        color: $plainWhite;
    }
}
